*{
    box-sizing: border-box;
}

.container{
    width: 90%;
    height: auto;
    margin: 100px 200px;

}
.responsive-button{
    width: 150px;
    height: 40px;
   background: #05614b;
    color: white;
    container-type: inline-size;

}
@container (width < 18rem) {
    .responsive-button > .text{
        display: none;
    }

}